body,html{
	width:100%;
    height: 100%;
    background-color:#fff;
  }
  
  .navbar-nav{
  margin:0px;
  }

  nav.sidebar, .main{
    -webkit-transition: margin 200ms ease-out;
      -moz-transition: margin 200ms ease-out;
      -o-transition: margin 200ms ease-out;
      transition: margin 200ms ease-out;
  }
  nav.sidebar{
  	width:100%;

  }
  
.oscuro{
	color:#333;
}

.nav>li>a>img{
	margin:0 auto;
}

nav.sidebar li a:hover{
  	background-color:#1D2637;

  }
  
  nav.sidebar li:active{
  	background-color:#1D2637;

  }


  
  .Left{
  margin-left:3%;
  }
  
  .Top{
  margin-top:3%;
   
   }
  .LL{
   margin-left:7%;
  } 
  .form{

  background-color:#f5f5f5;
  padding:2%;
  border-radius: 10px 10px 10px 10px;
-moz-border-radius: 10px 10px 10px 10px;
-webkit-border-radius: 10px 10px 10px 10px;
  
  }
  
  
  
  .col1{
  width:20%;
  float:left;
  height:100%;
  margin:0 auto;
  }
  
  .col2{
  padding:5%;
  margin:0 auto;
  width:70%;
  float:left;
  height:100%;

  
 
  }
  .rojo{
  	background-color:#BB1E2D;

  }
  .verde{
  	  	background-color:#B1E679;

  }
  .azul{
  	  	background-color:#1A222F;

  }
  .morado{
  	  	background-color:#662D8E;

  }
  .naranja{
  	  	background-color:#EEC10F;

  }
  .verdeOscuro{
  	  	background-color:#006838;

  }
  .azulClaro{
  	  	background-color:#27a7de;

  }
  
  .azulOscuro{
  background-color:#1A222F;
  }
  
  .bt{
  width:60%;
	float:left;
  margin-top:3%;
  margin-left:10%;}
  
  .home{
  position:fixed;
  left:25%;}
  
  .center{
  margin-top:20%;


  }
  .padding{
    padding-top:5%;}
    
table{;
	width:80%;
	margin-bottom:5%;
	
}


h2{
	margin-bottom:5%;
	color:#275B89;
}
    
    
    .error{
    color:#FF0000;
    }
    .exito{
    color:#06D45F;
    margin-top:5%;
   
    }
    


.table tbody tr td{
	border:none;
}
  
 .table tbody tr th{
	border:none;
}

@media screen and (max-width: 767px){
.table-responsive{
	border:5px;
}
}

ul{
	width:100%;
	height:100%;
}

ul li{
	font-size:0.9em;
}

.glyficon hover{
	text-decoration:none;
	background-color:transparent;
}
  
  
