body,html{
    height: 100%;
    background-color:#fff;
  }

  nav.sidebar, .main{
    -webkit-transition: margin 200ms ease-out;
      -moz-transition: margin 200ms ease-out;
      -o-transition: margin 200ms ease-out;
      transition: margin 200ms ease-out;
  }
  nav.sidebar{
  	width:100%;

  }
.nav>li>a>img{
	margin:0 auto;
}

nav.sidebar li a:hover{
  	backgrpound-color:#1D2637;

  }


  .main{
    padding: 10px 10px 0 10px;
  }

 @media (min-width: 765px) {

    .main{
      position: absolute;
      width: calc(100% - 40px); 
      margin-left: 40px;
      float: right;
    }

    nav.sidebar:hover + .main{
      margin-left: 200px;
    }

    nav.sidebar.navbar.sidebar>.container .navbar-brand, .navbar>.container-fluid .navbar-brand {
      margin-left: 0px;
    }

    nav.sidebar .navbar-brand, nav.sidebar .navbar-header{
      text-align: center;
      width: 100%;
      margin-left: 0px;
    }
    
    nav.sidebar a{
      padding-right: 13px;
    }


    nav.sidebar .navbar-nav > li ul li{
      background-color: #f7f7f7;
      color:#fff;
      
    }

    nav.sidebar .navbar-nav .open .dropdown-menu {
      position: static;
      float: none;
      width: auto;
      margin-top: 0;
      background-color: transparent;
      border: 0;
      -webkit-box-shadow: none;
      box-shadow: none;
    }

    nav.sidebar .navbar-collapse, nav.sidebar .container-fluid{
      padding: 0 0px 0 0px;
    }

    /*.navbar-inverse .navbar-nav .open .dropdown-menu>li>a {
      color: #777;
    }*/

    nav.sidebar{
      width: 200px;
      height: 100%;
      margin-left: -160px;
      float: left;
      margin-bottom: 0px;
    }

    nav.sidebar li {
      width: 100%;
    }



    nav.sidebar:hover{
      margin-left: 0px;

    }
/*
    .forAnimate{
      opacity: 0;
    }*/
  }
  @media (max-width: 765px) {

    .main{
      position: absolute;
      width: calc(100% - 40px); 
      margin-left: 40px;
      float: right;
    }

    nav.sidebar:hover + .main{
      margin-left: 200px;
    }

    nav.sidebar.navbar.sidebar>.container .navbar-brand, .navbar>.container-fluid .navbar-brand {
      margin-left: 0px;
    }

    nav.sidebar .navbar-brand, nav.sidebar .navbar-header{
      text-align: center;
      width: 100%;
      margin-left: 0px;
    }
    
    nav.sidebar a{
      padding-right: 13px;
    }

    nav.sidebar .navbar-nav > li ul li{
      background-color: #f7f7f7;
      color:#fff;
      
    }

    nav.sidebar .navbar-nav .open .dropdown-menu {
      position: static;
      float: none;
      width: auto;
      margin-top: 0;
      background-color: transparent;
      border: 0;
      -webkit-box-shadow: none;
      box-shadow: none;
    }

    nav.sidebar .navbar-collapse, nav.sidebar .container-fluid{
      padding: 0 0px 0 0px;
    }

    /*.navbar-inverse .navbar-nav .open .dropdown-menu>li>a {
      color: #777;
    }*/

    nav.sidebar{
      width: 200px;
      height: 100%;
      margin-left: -160px;
      float: left;
      margin-bottom: 0px;
    }

    nav.sidebar li {
      width: 100%;
    }



    nav.sidebar:hover{
      margin-left: 0px;

    }
/*
    .forAnimate{
      opacity: 0;
    }*/
  }
   
  @media (min-width: 1330px) {

    .main{
      width: calc(100% - 200px);
      margin-left: 200px;
    }
    

    nav.sidebar{
      margin-left: 0px;
      float: left;
    }

   /* nav.sidebar .forAnimate{
      opacity: 1;
    }*/
  }
  .open>a:focus, .nav .open>a:hover{
  	background-color: #f5f5f5;
  }
    .open>a:focus, .nav .open>a:active{
  	background-color: #1B2333;
  }
/*
  nav.sidebar .navbar-nav .open .dropdown-menu>li>a:hover, nav.sidebar .navbar-nav .open .dropdown-menu>li>a:focus {
    color: #CCC;
    background-color: transparent;
  }*/

/*  nav:hover .forAnimate{
    opacity: 1;
  }*/
  section{
    padding-left: 15px;
  }
  
  .Left{
  margin-left:3%;
  }
  
  .Top{
  margin-top:3%;
   
   }
  .LL{
   margin-left:7%;
  } 
  .form{

  background-color:#f5f5f5;
  padding:2%;
  border-radius: 10px 10px 10px 10px;
-moz-border-radius: 10px 10px 10px 10px;
-webkit-border-radius: 10px 10px 10px 10px;
  
  }
  
  
  
  .col1{
  width:20%;
  float:left;

  height:100%;
  }
  .col2{
  margin:0 auto;
  width:80%;
  float:left;
  height:100%;

  
 
  }
  .rojo{
  	background-color:#BB1E2D;

  }
  .verde{
  	  	background-color:#B1E679;

  }
  .azul{
  	  	background-color:#216D97;

  }
  .morado{
  	  	background-color:#662D8E;

  }
  .naranja{
  	  	background-color:#EEC10F;

  }
  .verdeOscuro{
  	  	background-color:#006838;

  }
  .azulClaro{
  	  	background-color:#27a7de;

  }
  .bt{
  width:60%;
	float:left;
  margin-top:3%;
  margin-left:10%;}
  
  .home{
  position:fixed;
  left:25%;}
  
  .center{
  margin-top:20%;


  }
  .padding{
    padding-top:5%;}
  
  
  
